body{margin:0;padding:0; margin:0 auto;line-height:22px;font-family:"微软雅黑";background:#ffa135;-webkit-text-size-adjust:none;color:#666666; width:100%;font-size: 16px;}
form,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{margin:0;padding:0; font-weight:normal;}
input,select{font-size:12px; color:#666; padding:4 0 0 5px; line-height:18px;}
img{border:0;}
.left{float:left;}
.right{float:right;}
ul,li{list-style-type:none;}
.clear{ clear:both; height:0; overflow:hidden;}
html,body{ height:100%;}
a{ text-decoration:none;}
ul,li{ list-style-type:none; margin:0; padding:0;}
img{ display:block;*display:block;}
.bg{ position:relative;}
.list{  position:absolute; left:50%; margin-left:-274px; color:#ffffff;width:600px;}
.list span{ line-height:62px;}
.inp{ width:300px; height:42px; margin:10px 0; border-radius:2px; border:1px solid #00a67d;}
.lingqu_btn{ border:1px solid  #00a67d; border-radius:3px; width:200px; background:#ffffff; height:42px; color:#ff6600; margin-top:10px; font-size:16px; margin-left:50px;  font-weight:bold; cursor:pointer;}
.tit{ font-size:26px; line-height:52px; background:url(../images/ddbx/pen.png) 0 10px no-repeat; padding-left:40px;}
.yuansu .che{ position:absolute;left:50%;top:130px; z-index:2; margin-left:-563px;}
.yuansu .fengjing{ position:absolute;left:-507px;top:20px; z-index:2;}
.yuansu .logo{ position:absolute;right:-406px;px;top:20px; z-index:2;}
.yuansu .che2{ position:absolute;right:-453px;top:629px; z-index:2;}