@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0; margin:0 auto;line-height:22px;font-family:"微软雅黑";background:#fff;-webkit-text-size-adjust:none;color:#666666; width:100%;font-size: 14px;}
form,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{margin:0;padding:0; font-weight:normal;}
input,select{font-size:12px; color:#666; padding:4 0 0 5px; line-height:18px;}
img{border:0;}
.left{float:left;}
.right{float:right;}
ul,li{list-style-type:none;}
.clear{ clear:both; height:0; overflow:hidden;}
html,body{ height:100%;}
a{ text-decoration:none;}
ul,li{ list-style-type:none; margin:0; padding:0;}





/* 注册页面2*/
.inp{position:relative;}
.inpbox{}
.inputclass{ width:230px; height:30px; border:none; font-size:16px;}
.inpbox{ position:absolute; top:12px;left:60px;}
.yanzheng{width:70px; height:30px; background:#000000; float:left;}



/*首页*/
.tongzhi{ position:relative;top:0;}
.tongzhi_text{ position:absolute;top:15px;left:25px; line-height:35px; height:35px; vertical-align:middle; }
.tongzhi_text .wenzi{ width:260px; overflow:hidden; float:left; height:35px;}
.cjbox{ background:url(../images/zy2_gongge/jiugonggebh.jpg) 0 0 repeat-x; padding-bottom:10px; position:relative; min-height:360px; }
.choujiang{  background:url(../images/zy2_gongge/muwenbg.png) 0 0 repeat; border-radius:20px; margin:-53px 5px; padding-top:10px; padding-bottom:10px;}
.jiugongge{ background:url(../images/zy2_gongge/jiugonggepng.png) 0 0 no-repeat; max-height:410px; margin:0 10px; width:310px; margin:0 auto;}
.jiugongge ul{ width:100%;}
.jiugongge ul li{ float: left;width: 98px;border-radius: 12px;margin: 0px 2px 3px 1px; }
.jiugongge ul li.black{ background:url(../images/zy2_gongge/background.png) 0 0 no-repeat;}
.jiugongge ul li img{z-index:999999; max-width:92px;}
 

.jiangxiang{ background:#fae6cc; padding-bottom:10px;}
.jiangxiang ul{ width:350px; margin:0 auto;}
.jiangxiang ul li{ width:170px; margin:0 2px; float:left;/* height:250px; display:block; background:#fff; border-radius:3px; padding-top:3px;*/}
.jiangxiang ul li img{ max-width:170px;}
.bottom{ background:url(../images/zy2_gongge/muwenbg.png) 0 0 repeat; color:#fff; padding-top:10px;}


.blackbg{width: 100%;height: 100%;background-color: #000;opacity: 0.6;position: fixed;top: 0;left: 0;z-index: 9999;}
.tanchuang{width: 80%;height: 245px;left: 50%;margin-left: -40%;top: 25%;margin-top: -100px;position: fixed;z-index: 3;z-index:99999;border-radius: 8px;}
.sub_btn{ background: #37dfbc;height: 43px;width: 288px;border: none;border-radius: 10px;position: absolute;bottom: -97px;left:6px;color: #ffffff; font-size:22px; }
.sub_btn:hover{ background:#32cbab;}

/* 弹窗 */
.blackbg{width: 100%;height: 100%;background-color: #000;opacity: 0.6;position: fixed;top: 0;left: 0;z-index: 9999;}
.tanchuang{width: 80%;height: 245px;left: 50%;margin-left: -150px;top: 25%;margin-top: -100px;position: fixed;z-index: 3;z-index:99999;border-radius: 8px;}
.sub_btn{ text-align: center;background: #37dfbc;height: 43px;line-height:43px;width: 288px;border: none;border-radius: 10px;position: absolute;bottom: -97px;left:6px;color: #ffffff; font-size:22px; }
.sub_btn:hover{ background:#32cbab;}