@charset "utf-8";
/* CSS Document */

body{margin:0;padding:0; margin:0 auto;line-height:22px;font-family:"微软雅黑";background:#fff;-webkit-text-size-adjust:none;color:#7e8c8d; width:100%;font-size: 14px;}
form,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{margin:0;padding:0; font-weight:normal;}
input,select{font-size:14px; color:#666; padding:4 0 0 5px; vertical-align:middle; }
select{ font-size:16px; line-height:32px;}
img{border:0;}
.left{float:left;}
.right{float:right;}
ul,li{list-style-type:none;}
.clear{ clear:both; height:0; overflow:hidden;}
.rel{margin: 0px auto;width:320px; z-index:0;background:url(../images/bg.png) 0 0 repeat; z-index:2; position:relative;}
html,body{ height:100%;}
a{ text-decoration:none;}
ul,li{ list-style-type:none; margin:0; padding:0;}
.red{ color:#d92e1a; font-weight:bold; margin-bottom:10px; font-size:16px;}



.con{ width:100%; background:#ecf1f0; padding:10px 0;}
.conbox{ width:90%; margin:0 auto; background:#fff; padding:10px;}
.jisuan_btn{ width:96%; height:46px; border-radius:5px; background:#33a700; display:block; text-align:center; color:#fff; line-height:46px; margin:5px auto; font-size:16px; border:none;-webkit-appearance:none;}
.input1 p{ margin:15px 0; line-height:32px;}
.input1 p span{ clear:both;}
.input1 p span.inp_tit{ width:70px; display:block;float:left;}

.conbox h3.jisuan_tit{font-size:22px; font-weight:bold; color:#33a700; padding:10px 0 12px 0; border-bottom:1px solid #ddd;}
.inp{width:70%; height:32px; border-radius:5px; border:1px solid #ddd;}

/*结果页*/
.jieguotext{ font-size:20px; margin-top:10px;}
.jieguo{margin:10px 0 16px 0;}
.gongxi_box{ border:1px dashed #f2e6d9; border-radius:5px; padding:10px; background:#faf4ee;}