@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0; margin:0 auto;line-height:22px;font-family:"微软雅黑";background:#fff;-webkit-text-size-adjust:none;color:#7e8c8d; width:100%;font-size: 14px;}
form,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{margin:0;padding:0; font-weight:normal;}
input,select{font-size:12px; color:#666; padding:4 0 0 5px; line-height:18px;}
img{border:0;}
.left{float:left;}
.right{float:right;}
.clear{ clear:both;}
ul,li{list-style-type:none;}
.con{ background:#ecf1f0; width: 100%; position:relative;}
.con .bg{ background:#fff; border:1px solid #e0e5e4; width: 98%; margin:0 auto;}
.con h3{  font-size:20px; color:#599c66;line-height:36px;  font-weight: bold;}
.con .wenjuan{ padding:20px 10px 0 10px;}
.con h3.wenjuan_icon{ background: url(../images/didi/icon.gif) 0 0 no-repeat; height:30px; padding-left:30px; }
.con .red_bg{ float:left; height:79px; background:#ed6f67; width:554px; line-height:79px; font-size:32px; color:#fff; text-align:center;}
.con .wenjuan dl{ margin:20px 0; font-size: 14px;}
.con .wenjuan dl dt{ /* line-height:40px; */ font-weight: bold; font-size: 16px;}
.con .wenjuan dl dd{ line-height:40px;}
.con .wenjuan dl dd span{width: 50%;display: block;float: left;}
.renling{ position:absolute;left:0px; width:800px; height:96px;}
.tianxie{ padding:0px 10px 10px 10px;}
.tianxie_icon{background: url(../images/didi/icon.gif) 0 -30px no-repeat; height:36px; padding-left:32px; padding-bottom:20px;margin: 20px 0 0 0;}
.info_write{}
.info_write p{ padding: 2px 0;}
.info_write span{float:left;line-height:50px; font-size: 16px;font-weight: bold;}
.info_write div{padding-left:50px; line-height:50px;}
.info_write div input.inp_w{ width: 70%; height: 36px; background:#eeeeee; border:2px solid #bfbfbf; border-radius:2px; margin-bottom:5px;}
.btnbox{ margin: 5px auto; width:96%;}
.sub_btn{ border:none; border-radius:3px; background:#ed6f67; color:#fff; width: 100%; height: 50px; line-height: 50px; font-size: 22px; cursor:pointer; margin: 0 auto; display:block; text-align:center; text-decoration:none;}
.shenming{font-size: 14px; color:#7e8c8d; line-height: 23px; padding: 10px 20px 30px 30px;}
.info_write div input.yanzheng_btn{ background:#8acd97; height: 42px; border-radius:3px; border:none; font-size: 16px; line-height: 41px; color:#fff; cursor:pointer;}


.chenggong{ /*background:url(../images/yes.gif) 0 0 no-repeat; padding-left:110px;*/  line-height:90px; color:green; font-size:32px; width:280px; margin:20px auto;}

.friendlink{ }
.friendlink ul li{ float:left; margin:2px;}
.friendlink ul{ margin:0 auto; width:90%;}
.friendlink ul li img{ width:70px;}

.hezuo{ background:url(../images/didi/bg.jpg) 0 0 repeat-x; height:28px; line-height:28px; text-align:center; margin:10px 0;}
.hezuo h3{  display:block; background:#ffffff; width:100px; height:28px; margin:0 auto;}






.chengong_con{ background:#ecf1f0; width:100%; padding:10px 0; height:400px;}
.chengong_box{ background:#fff8e6; border:2px solid #e6d2a4; border-radius:10px; width:80%; margin:0 auto; padding:10px;} 
.text{ color:#6b6967;}
.chengong_con h3{ color:#db6655; font-size:18px; text-align:center; line-height:40px;}
.lingqu_btn{ background:#ff5a00; border-radius:50px; width:80%; height:42px; text-align:center; border:none; color:#ffffff; font-size:20px; margin:10px auto; display:block; cursor:pointer; font-weight:bold;}